body {
    font-family: Arial;
    background: #f2f6ff;
    text-align: center;
    padding-top: 50px;
}

input {
    padding: 10px;
    margin: 5px;
}

button {
    padding: 10px 20px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}
